#item settings
#Thu Apr 28 18:25:18 ICT 2022
item.4.enable=true
item.5.stock=5
item.0.enable=true
item.4.name=Valentino Rudy
item.2.enable=true
item.5.enable=false
item.1.enable=true
item.3.img=/Users/apinya/GitHub/DRG/java-random/Random/img/3.png
item.3.enable=true
item.1.name=Caggioni Trolley Bag 25 inches
item.5.img=/Users/apinya/GitHub/DRG/java-random/Random/img/5.png
item.1.stock=1
item.0.img=/Users/apinya/GitHub/DRG/java-random/Random/img/0.png
item.4.stock=4
item.4.img=/Users/apinya/GitHub/DRG/java-random/Random/img/4.png
item.5.name=None
item.2.name=Esirit 3 in 1 Towel Box Set
item.1.img=/Users/apinya/GitHub/DRG/java-random/Random/img/1.png
item.2.stock=2
item.0.name=Bossini Puch Bag
item.3.name=Tefal Air Fryer
item.0.stock=100
item.3.stock=3
item.2.img=/Users/apinya/GitHub/DRG/java-random/Random/img/2.png
