#item settings
#Thu Apr 28 23:52:50 ICT 2022
item.4.enable=true
item.5.stock=0
item.0.enable=true
item.4.name=Valentino Rudy
item.2.enable=true
item.5.enable=false
item.1.enable=true
item.3.img=/Users/apinya/GitHub/DRG/java-random/Random/img/Tefal-Fry-easy-Classic-1.png
item.3.enable=true
item.1.name=Caggioni Trolley Bag 25 inches
item.5.img=/Users/apinya/GitHub/DRG/java-random/Random/img/blank.png
item.1.stock=79
item.0.img=/Users/apinya/GitHub/DRG/java-random/Random/img/Bossini-Pouch-Bag_Navy.png
item.4.stock=75
item.4.img=/Users/apinya/GitHub/DRG/java-random/Random/img/Valentino-Rudy-Summer-Bag(Green).png
item.5.name=None
item.2.name=Esirit 3 in 1 Towel Box Set
item.1.img=/Users/apinya/GitHub/DRG/java-random/Random/img/CAGGIONI-Corporate-Luggage,-size-25-inch-(2).png
item.2.stock=72
item.0.name=Bossini Puch Bag
item.3.name=Tefal Air Fryer
item.0.stock=971
item.3.stock=75
item.2.img=/Users/apinya/GitHub/DRG/java-random/Random/img/Esprit-3-in-1-Towel-Box-set.png
