#item settings
#Fri Apr 29 00:08:34 ICT 2022
item.0.enable=true
item.0.img=E\:\\GitHub\\java-random\\Random\\img\\Bossini-Pouch-Bag_Navy.png
item.0.name=Bossini Puch Bag
item.0.stock=333
item.1.enable=true
item.1.img=/Users/apinya/GitHub/DRG/java-random/Random/img/CAGGIONI-Corporate-Luggage,-size-25-inch-(2).png
item.1.name=Caggioni Trolley Bag 25 inches
item.1.stock=5
item.2.enable=true
item.2.img=/Users/apinya/GitHub/DRG/java-random/Random/img/Esprit-3-in-1-Towel-Box-set.png
item.2.name=Esirit 3 in 1 Towel Box Set
item.2.stock=10
item.3.enable=true
item.3.img=/Users/apinya/GitHub/DRG/java-random/Random/img/Tefal-Fry-easy-Classic-1.png
item.3.name=Tefal Air Fryer
item.3.stock=1
item.4.enable=true
item.4.img=/Users/apinya/GitHub/DRG/java-random/Random/img/Valentino-Rudy-Summer-Bag(Green).png
item.4.name=Valentino Rudy
item.4.stock=20
item.5.enable=false
item.5.img=/Users/apinya/GitHub/DRG/java-random/Random/img/blank.png
item.5.name=None
item.5.stock=0
