item.0.name=iPhone
item.0.stock=15
item.0.posX=100
item.0.posY=100
item.0.img=/images/lol.png
item.1.name=Not iPhone
item.1.stock=16
item.1.posX=200
item.1.posY=200
item.1.img=/images/lol.png
item.2.name=iPhone
item.2.stock=15
item.2.posX=100
item.2.posY=100
item.2.img=/images/lol.png
item.3.name=iPhone
item.3.stock=15
item.3.posX=100
item.3.posY=100
item.3.img=/images/lol.png
item.4.name=iPhone
item.4.stock=15
item.4.posX=100
item.4.posY=100
item.4.img=/images/lol.png
item.5.name=iPhone
item.5.stock=15
item.5.posX=100
item.5.posY=100
item.5.img=/images/lol.png
item.6.name=iPhone
item.6.stock=15
item.6.posX=100
item.6.posY=100
item.6.img=/images/lol.png